<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
    <script type="module" crossorigin src="/static/index.45dcd7e4.js"></script>
  <link rel="modulepreload" href="/static/vendor.60cdc7e9.js">
  <link rel="stylesheet" href="/static/index.f3539195.css">
</head>
    <body>
        <div id="app"></div>
        
    </body>
</html>
