<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  <script type="module" crossorigin src="/static/index.146f4044.js"></script>
  <link rel="modulepreload" href="/static/vendor.91c512be.js">
  <link rel="stylesheet" href="/static/index.29c9b04e.css">
</head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
