@font-face {
  font-family: "iconfont"; /* Project id 2609129 */
  src: url('//at.alicdn.com/t/font_2609129_lr4s33akiu.woff2?t=1623744478913') format('woff2'),
       url('//at.alicdn.com/t/font_2609129_lr4s33akiu.woff?t=1623744478913') format('woff'),
       url('//at.alicdn.com/t/font_2609129_lr4s33akiu.ttf?t=1623744478913') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
  content: "\e784";
}

.icon-repo:before {
  content: "\e635";
}

.icon-tags:before {
  content: "\e649";
}

.icon-wenjianjia:before {
  content: "\e624";
}

.icon-study:before {
  content: "\e600";
}

.icon-bar1:before {
  content: "\e608";
}

.icon-tongzhi:before {
  content: "\e66f";
}

.icon-icon-add:before {
  content: "\e6e3";
}

.icon-huaban88:before {
  content: "\e61a";
}
